# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# =========================
# Environment / credentials
# =========================
.env
.env.*
!.env.example

*.key
*.pem
credentials.json
service-account.json

# =========================
# Datos
# =========================
*.csv
*.xlsx
*.xls
*.parquet

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db