# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.*

# Credentials
clave/
*.json

# Temporary data
data/raw/*
data/external/*

# Logs
*.log

# OS
.DS_Store
Thumbs.db